@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/static/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('../assets/fonts/static/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/static/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/static/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
